@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rubik:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--primary: #1190be;
}

*/ html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}

@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}

@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

html,
body {
	height: 100%;
}

body {
	background: #000;
	font-family: "Poppins", sans-serif !important;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #6e6e6e;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rubik', serif !important;
	font-weight: 700 !important;
}

/**
 * links - (_document-setup.scss)
 * -------------------------------------------------------------------
 */
a,
a:visited {
	color: #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: var(--primary);
	outline: 0;
}

/** 
 * ===================================================================
 * 03. typography & general theme styles - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- 
 */
h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
	color: #313131;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}

h3,
.h03,
h4,
.h04 {
	margin-bottom: 1.8rem;
}

h5,
.h05,
h6,
.h06 {
	margin-bottom: 1.2rem;
}

h1,
.h01 {
	font-size: 3.1rem !important;
	line-height: 1.355;
	letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {

	h1,
	.h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}

h2,
.h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}

h3,
.h03 {
	font-size: 2rem;
	line-height: 1.5;
}

h4,
.h04 {
	font-size: 1.7rem;
	line-height: 1.765;
}

h5,
.h05 {
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

h6,
.h06 {
	font-size: 1.3rem;
	line-height: 1.846;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

p img {
	margin: 0;
}

p.lead {
	font-size: 2rem;
	line-height: 1.8;
	color: #888888;
}

@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}

.fa-star {
	color: rgb(236, 236, 57);
}

em,
i,
strong,
b {
	font-size: 1.7rem;
	line-height: 3rem;
	font-style: normal;
	/* font-weight: normal; */
}


small {
	font-size: 1.2rem;
	line-height: inherit;
}

blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: #313131;
	position: absolute;
	top: 3rem;
	left: 0;
}

blockquote p {
	font-style: italic;
	padding: 0;
	font-size: 1.9rem;
	line-height: 1.737;
}

blockquote cite {
	display: block;
	font-size: 1.3rem;
	font-style: normal;
	line-height: 1.616;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: #888888;
	border: none;
}

abbr {
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #888888;
}

pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}

code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}

pre>code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}

pre.prettyprint>code {
	border: none;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #FFF49B;
	color: #000;
}

hr {
	border: solid #d2d2d2;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/**
 * Lists - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	display: list-item;
}

ol,
ul {
	margin-left: 1.7rem;
}

ul li {
	padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
	display: list-item;
	list-style: none;
	padding: 0 0 0 .8rem;
	position: relative;
}

ul.disc li::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--primary);
	position: absolute;
	left: -17px;
	top: 11px;
	vertical-align: middle;
}

dt {
	margin: 0;
	color: var(--primary);
}

dd {
	margin: 0 0 0 2rem;
}

/**
 * tables - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
table {
	border-width: 0;
	width: 100%;
	max-width: 100%;
}

th,
td {
	padding: 1.5rem 3rem;
	text-align: left;
	border-bottom: 1px solid #E8E8E8;
}

th {
	color: #313131;
}

td {
	line-height: 1.5;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/**
 * Spacing - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

/**
 * floated image - (_document-setup.scss)  
 * -------------------------------------------------------------------
 */
img.pull-right {
	margin: .9rem 0 0 2.4rem;
}

img.pull-left {
	margin: .9rem 2.4rem 0 0;
}

/**
 * block grid paddings - (_document-setup.scss) 
 * -------------------------------------------------------------------
 */
.bgrid {
	padding: 0 20px;
}

@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}
}

@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}
}

@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}
}

@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}
}

/**
 * pace.js styles - minimal  - (_document-setup.scss)
 * -------------------------------------------------------------------
 */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: var(--primary);
	position: fixed;
	z-index: 900;
	top: 0;
	right: 100%;
	width: 100%;
	height: 6px;
}

.loader {
	background-color: rgba(0, 0, 0, 0.95);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.kinetic {
	position: relative;
	height: 80px;
	width: 80px;
}

.kinetic::after,
.kinetic::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: #fff;
	animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
	transform: rotate(90deg);
	animation: rotateB 2s linear infinite;
}

@keyframes rotateA {

	0%,
	25% {
		transform: rotate(0deg);
	}

	50%,
	75% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotateB {

	0%,
	25% {
		transform: rotate(90deg);
	}

	50%,
	75% {
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(450deg);
	}
}


/* SKills */
#skills{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 10px;
	width: 100%;
	background-color: #000;
}
#skills h1{
	color: #fff;
}
.icon-wrap {
	display: grid;
	grid-template-columns: repeat(2, 150px);
	gap: 20px 90px;
	justify-content: center;
	align-items: center;
	margin: auto;

  }
  .icon {
	background-color: #fff;
	color: #1190be;
	padding: 40px 30px;
	border-radius: 5px;
	transition: transform 0.5s ease;
	display: flex;
	flex-direction: column;
	width:180px;
	height:150px;
	justify-content: center;
	align-items: center;
  }
  .icon img{
	transform: scale(0.4);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  }
  .icon:hover {
	transform: translateY(-10px);
  }
  .icon > i {
	font-size: 60px;
  }
  
  .icon > p {
	font-size: 14px;
	text-align: center;
	color: #1190be;
	line-height: 1.2;
	font-weight: 700;
  }
  @media (max-width: 450px) {
	#skills{
		padding-right: 60px;
		height: 85vh;
	}
	.icon-wrap {
		grid-template-columns: repeat(2, 100px);
	  grid-auto-rows: auto;
	  width:100%;
	}

	.icon img{
		transform: scale(0.4);
	  }

	  .icon {
		
		width:150px;
		height:150px;
		
	  }
}  
  @media (min-width: 760px) {
	#skills{
		
		height:50vh;
	}
	.icon-wrap {
		grid-template-columns: repeat(5, 100px);
		/* grid-auto-rows: auto; */
	  }
	  .icon > i {
		font-size: 48px;
	  }}  


/* forms */
fieldset {
	border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 6rem;
	padding: 1.5rem 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #313131;
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ss-custom-select {
	position: relative;
	padding: 0;
}

.ss-custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
}

.ss-custom-select select option {
	padding-left: 2rem;
	padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
	display: none;
}

.ss-custom-select::after {
	content: '\f0d7';
	position: absolute;
	top: 50%;
	right: 1.5rem;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	pointer-events: none;
	color: #252525;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
	display: none;
}

textarea {
	min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}

label,
legend {
	font-size: 1.4rem;
	margin-bottom: .6rem;
	color: #3b3b3b;
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label>.label-text {
	display: inline-block;
	margin-left: 1rem;
	line-height: inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15rem;
}

/**
 * Style Placeholder Text  
 * -
 */
::-webkit-input-placeholder {
	color: #a1a1a1;
}

:-moz-placeholder {
	color: #a1a1a1;
	/* Firefox 18- */
}

::-moz-placeholder {
	color: #a1a1a1;
	/* Firefox 19+ */
}

:-ms-input-placeholder {
	color: #a1a1a1;
}

.placeholder {
	color: #a1a1a1 !important;
}

/** 
 * ===================================================================
 * 06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- 
 */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	height: 5.4rem;
	line-height: 5.4rem;
	padding: 0 3rem;
	margin: 0 .3rem 1.2rem 0;
	background: #d8d8d8;
	color: #313131;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: #bebebe;
	color: #000000;
	outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: #313131;
	color: #FFFFFF;
	font-weight: 700;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background: var(--primary);
	color: #fff;
}

button.full-width,
.button.full-width {
	width: 100%;
	margin-right: 0;
}

button.medium,
.button.medium {
	height: 5.7rem !important;
	line-height: 5.7rem !important;
	padding: 0 1.8rem !important;
}

button.large,
.button.large {
	height: 6rem !important;
	line-height: 6rem !important;
	padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
	background: transparent !important;
	border: 3px solid #313131;
	line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
	line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
	line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
	border: 3px solid var(--primary);
	color: var(--primary);
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * drop cap 
 */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 1.5rem .6rem 0 0;
	font-size: 8.4rem;
	line-height: 6rem;
	text-indent: 0;
	background: transparent;
	color: #313131;
}

/**
 * line definition style
 */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}

.lining dt+dt:before,
.lining dd+dt:before {
	content: "\A";
	white-space: pre;
}

.lining dd+dd:before {
	content: ", ";
}

.lining dd+dd:before {
	content: ", ";
}

.lining dd:before {
	content: ": ";
	margin-left: -0.2em;
}

/**
 * dictionary definition style
 */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}

.dictionary-style dt+dt:before {
	content: ", ";
	margin-left: -0.2em;
}

.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}

.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

.pull-quote {
	position: relative;
	padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
	height: 1em;
	position: absolute;
	font-size: 8rem;
	color: #333;
}

.pull-quote:before {
	content: "\201C";
	top: 33px;
	left: 0;
}

.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}

.pull-quote blockquote {
	margin: 0;
}

.pull-quote blockquote:before {
	content: none;
}

/** 
 * ===================================================================
 * 08. common styles (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
.grey-section {
	background: #ebebeb;
}

.grey-section p.lead {
	color: #7d7d7d;
}

.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}

.section-intro h1 {
	font-size: 3.6rem;
	color: #313131;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}

.section-intro h5 {
	color: var(--primary);
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}

.trading-view {
	width: 27px;
	height: 27px;
	border-radius: 50%;
	transition: .4s ease;
}

/**
 * responsive:
 * common styles
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}

	.section-intro h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 2.6rem;
	}

	.section-intro h5 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}
}

@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 2.4rem;
	}
}


/** 
 * ===================================================================
 * 09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
}

header .row {
	position: relative;
	min-height: 66px;
}

header .top-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
	position: fixed;
	border-radius: 5px;
	z-index: 99;
	left: 20px;
	top: 30px;
	width: 200px;
	padding: 1rem 0.4rem;
}

header .logo {
	transform: translateY(30%);
	margin-left: 20px;
	text-transform: uppercase;
}

header .logo a {
	border: none;
	font-size: 1.5em;
	color: var(--primary);
}


/**
 * menu toggle - (_layout.css)
 * ------------------------------------------------------------------- 
 */
.menu-toggle {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 13px;
	display: block;
	position: relative;
}

.menu-toggle span {
	display: block;
	background-color: var(--primary);
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: absolute;
	right: 8px;
	top: 50%;
	bottom: auto;
	left: auto;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.menu-toggle span::before,
.menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}

.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}

.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}

.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
	background-color: var(--primary);
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}

.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* navigation panel */
#main-nav-wrap {
	display: block;
	width: 100%;
	font-size: 1.5rem;
	position: absolute;
	top: 100%;
	left: 0;
}

/* dropdown nav */
.main-navigation {
	background: #000000;
	padding: 24px 30px 42px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 1px 3px #333;
	margin: 0;
	width: 100%;
	height: auto;
	clear: both;
	display: none;
}

.main-navigation>li {
	display: block;
	height: auto;
	text-align: center;
	padding: 0;
}

.main-navigation li a {
	display: block;
	color: #FFFFFF;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
}

.main-navigation li a:hover {
	color: var(--primary);
	padding-left: 1rem;
}

.main-navigation li.current>a {
	background: none;
	color: var(--primary);
}

@media only screen and (max-width:600px) {
	header .top-bar {
		left: 0;

		background: none !important;
		opacity: 1;
		position: absolute;
		top: 2px;
		right: 0;
		z-index: 1000;
	}

	.logo .hide-it {
		display: none;
	}
}


/** 
 * ===================================================================
 * 10. intro - (_layout.scss) 
 *
 * ------------------------------------------------------------------- 
 */
#intro {
	background-image: linear-gradient(rgba(5, 101, 139, 0.512), rgba(0, 0, 0, 0.5)),
		url(../images/intro-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .45;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
}

.intro-content h1 {
	color: #FFFFFF;
	font-size: 8.4rem !important;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: 1.7rem;
	margin-left: auto;
	margin-right: auto;

}

.intro-content h1 span,
.copyright span {
	color: var(--primary);
	font-family: 'Pacifico', sans-serif;

}

.intro-content h5 {
	color: var(--primary);
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position {
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro-content .intro-position span {
	display: inline-block;
}

.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

.intro-content .button:hover,
.intro-content .button:focus {
	border-color: var(--primary);
}

.intro-content .button::after {
	display: inline-block;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 50%;
	left: 0;
	right: 0;
	bottom: 10rem;
	font-size: 3.3rem;
	margin: 0 auto;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 50px;
	transition: .4s ease;
}


@media(max-width:700px) {
	.intro-social {
		width: 90%;
	}
}

.intro-social:hover {
	background: var(--primary);
}

.intro-social li,
.intro-social img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px;
	padding: 0;
	transition: .4s ease;
	width: 50px;
	height: 50px;
	align-self: center;
	height: 50px;
	border-radius: 50%;
}

.intro-social li:hover,
.intro-social img:hover {
	/* transform: translateY(-10px); */
	background-color: rgba(0, 0, 0, 0.9);
}

.intro-social li a,
.intro-social li a:visited {
	color: #FFFFFF;
}


/**
 * responsive:
 * Intro
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-content h1 {
		font-size: 7.6rem !important;
	}

	.intro-social {
		font-size: 3rem;
	}

	.intro-social li {
		margin: 0 15px;
	}
}

@media only screen and (max-width:768px) {
	#intro {
		min-height: 660px;
	}

	.intro-content h1 {
		font-size: 5.2rem !important;
	}

	.intro-content h5 {
		font-size: 1.8rem;
	}

	.intro-content .intro-position {
		font-size: 1.3rem;
	}

	.intro-social {
		font-size: 2.5rem;
	}

	.intro-social li {
		margin: 0 10px;
	}
}

@media only screen and (max-width:600px) {
	#intro {
		min-height: 600px;
	}

	.intro-content h1 {
		font-size: 4.6rem !important;
		margin-bottom: .6rem;
	}

	.intro-content h5 {
		font-size: 1.5rem;
		margin-bottom: .3rem;
		letter-spacing: .2rem;
	}

	.intro-content .intro-position {
		font-size: 1.2rem;
	}

	.intro-content .intro-position span {
		padding: 0 .6rem;
	}

	.intro-content .intro-position span::before,
	.intro-content .intro-position span::after {
		display: none !important;
	}

	.intro-social {
		font-size: 2.4rem;
	}
}


/** 
 * ===================================================================
 * 11. about - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
#about {
	background: #FFFFFF;
	padding-top: 12rem;
	padding-bottom: 15rem;
}

#about .section-intro {
	margin-bottom: 3rem;
}

.intro-info {
	margin-top: 4.2rem;
	margin-right: -30px;
	margin-left: -30px;
}

.intro-info img {
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	visibility: hidden;
	margin: 1rem;
	float: left;
}

.intro-info .lead {
	text-align: left;
	padding-left: 17rem;
	font-size: 1.7rem;

}

.about-content {
	position: relative;
	text-align: left;
	max-width: 850px;
	margin-bottom: 3.6rem;
}

.about-content h3 {
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

.about-content .info-list {
	list-style: none;
	margin-left: 0;
}

.about-content .info-list li {
	padding: 0 0 1.5rem 0;
	margin-bottom: .6rem;
}

.about-content .info-list li strong {
	color: #313131;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
}

.about-content .info-list li span {
	display: block;
	color: #888888;
	font-size: 1.5rem;
	line-height: 1;
}

.about-content .skill-bars {
	margin-top: 6rem;
}

.button-section {
	text-align: center;
}

.button-section .button {
	width: 250px;
}

.button-section [class*="col-"] .button:first-child {
	margin-right: 4rem;
}

/**
 * responsive:
 * about
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width:1024px) {
	.intro-info {
		margin-right: 0;
		margin-left: 0;
	}
}

@media only screen and (max-width:768px) {
	.intro-info img {
		height: 8rem;
		width: 8rem;
	}

	.intro-info .lead {
		padding-left: 11rem;
		text-align: justify;
	}

	.about-content h3 {
		text-align: center;
	}

	.about-content .info-list,
	.about-content .skill-bars {
		margin-bottom: 4.2rem;
	}

	.button-section .button {
		width: 100%;
		margin-bottom: 3rem;
	}

	.button-section [class*="col-"] .button:first-child {
		margin-right: 0;
	}
}

@media only screen and (max-width:600px) {
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}

	.intro-info img {
		height: 6.6rem;
		width: 6.6rem;
		float: none;
		display: inline-block;
	}

	.intro-info .lead {
		padding-left: 0;
		text-align: justify;
	}
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume {
	background-color: rgb(249, 249, 250);
}

.resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #45505b;
	text-align: center;
}

.resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #1190be;
	position: relative;
}

.resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #1190be;
	margin-bottom: 10px;
}

.resume .resume-item h5 {
	font-size: 16px;
	background: #f7f8f9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}

.resume .resume-item ul {
	padding-left: 20px;
}

.resume .resume-item ul li {
	padding-bottom: 10px;
}

.resume .resume-item:last-child {
	padding-bottom: 0;
}

.resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #1190be;
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: .9;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

/** 
 * ===================================================================
 * 15. services - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
#services {
	background: #000 url(../images/b.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 8rem;
	color: white;
	position: relative;
	height: auto;
}

#services .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

#services .section-intro {
	margin-bottom: 1.8rem;
}

#services .section-intro h1 {
	color: white;
	font-size: 5rem;
	letter-spacing: 4px;
	position: relative;
	text-align: center;
}



.section-intro h1{
	text-transform: uppercase;
}

.service-content h1{
	color: #FFFFFF;
	text-align: center;
}


.services-content {
	max-width: 1200px;
}

.services-list {
	margin-top: 1.2rem;
	text-align: justify;
}

.services-list .service {
	margin: 0 1rem 1.2rem;
	padding: 40px 30px;
	box-shadow: 3px 3px 1px #000;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
}

.services-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}

.services-list .icon i {
	font-size: 5.4rem;
	color: var(--primary);
}

.services-list h3 {
	color: #FFFFFF;
}

.services-list .desc {
	color: rgba(255, 255, 255);
	font-size: 1.3rem;
}

/* pagination */
.owl-pagination {
	text-align: center;
	width: 100%;
	margin: .6rem 0 0;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 1rem;
	height: 1rem;
	margin: 1.2rem .8rem 0 .8rem;
	border-radius: 50%;
	display: inline-block;
	background: #FFFFFF;
}

.owl-theme .owl-controls .owl-page.active span {
	background: var(--primary);
}

@media(max-width:768px) {
	.services-list .service {
		margin: auto;
		width: 95%;
		padding: 40px 15px;
		box-shadow: 3px 3px 1px #000;
		background: rgba(0, 0, 0, 0.8);
	}
}

/** 
 * ===================================================================
 * 17. contact 
 *
 * ------------------------------------------------------------------- 
 */
#contact {
	background: #000;
	padding-top: 12rem;
	padding-bottom: 7.2rem;
}

#contact .section-intro h1 {
	color: white;
}

#contact .section-intro h1 {
	color: var(--primary);
}

#contact .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}

/* contact form */
.contact-form {
	max-width: 800px;
}

.contact-form ::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.contact-form :-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	/* Firefox 18- */
}

.contact-form ::-moz-placeholder {
	color: rgba(255, 255, 255, 0.6);
	/* Firefox 19+ */
}

.contact-form :-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.contact-form .placeholder {
	color: rgba(255, 255, 255, 0.6) !important;
}

#contact form {
	margin-top: 0;
	margin-bottom: 3rem;
}

#contact form .form-field {
	position: relative;
}

#contact form .form-field:before,
#contact form .form-field:after {
	content: "";
	display: table;
}

#contact form .form-field:after {
	clear: both;
}

#contact form .form-field label {
	font-size: 1.1rem;
	line-height: 2.4rem;
	position: absolute;
	bottom: -1.2rem;
	right: .6rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: 0 2rem;
	margin: 0;
	color: #FFFFFF;
	background: var(--primary);
}

#contact form .form-field label::after {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid var(--primary);
	content: "";
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
	width: 100%;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 10px;
	border: 1px solid #1190be;
border-radius: 5px;
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
	height: 6rem;
	padding: 1.8rem 2rem;
}

#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
	border-color: var(--primary);
	color: #FFFFFF;
}

#contact textarea {
	min-height: 20rem;
	padding: 1.8rem 2rem;
}

#contact textarea:focus {
	border-color: var(--primary);
	color: #FFFFFF;
}

#contact button.submitform {
	font-size: 1.5rem;
	display: block;
	letter-spacing: .2rem;
	height: 6.6rem;
	line-height: 6.6rem;
	padding: 0 3rem;
	margin-top: 4.8rem;
	width: 100%;
	background: var(--primary);
	color: #FFFFFF;
	border-radius: 5px;
	font-weight: 700;
}

#contact button.submitform:hover,
#contact button.submitform:focus {
	color: var(--primary);
	background: #000000;
	border: 1px solid var(--primary);
}


.contact-info {
	margin: 4.8rem auto 0;
	font-size: 1.5rem;
	text-align: center;
}

.contact-info .collapse {
	padding: 0;
}

.contact-info .icon {
	margin-bottom: 2.1rem;
}

.contact-info .icon i {
	font-size: 4.2rem;
	color: #FFFFFF;
}

.contact-info h5 {
	color: var(--primary);
}


/** 
 * 18. footer - 
 */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0 3rem;

}

/**
 * go to top - (_layout.scss)
 * ------------------------------------------------------------------- 
 */
#go-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 600;
	display: none;
}

#go-top.topShow {
	display: block;
}

#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	height: 6.6rem;
	width: 6rem;
	line-height: 6.6rem;
	text-align: center;
	background: var(--primary);
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#go-top a i {
	font-size: 1.6rem;
	line-height: inherit;
}

#go-top a:hover {
	background: #000000;
}

::selection {
	background-color: var(--primary);
	color: #fff;
}

/* Scrollbar styles */

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1190be;
}